<!DOCTYPE html>
<html lang="en" xmlns:th = "https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Video to Audio Converter</title>
    <link th:href="@{Style.css}" rel="stylesheet">
</head>
<body>
<h2>Upload Video File</h2>
<ul class="wave-menu">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>
<form class="form" th:action="@{/upload}" method="post" enctype="multipart/form-data">
    <span class="form-title">File Conversion Demo</span>
    <p class="form-paragraph">
        File should be audio or video
    </p>
    <label for="file-input" class="drop-container">
        <span class="drop-title">Drop files here</span>
        or
        <input type="file" accept="audio/*, video/*" required="" id="file-input" name="file">
    </label>
    <button class="button" type="submit">
        Play
        <svg fill="currentColor" viewBox="0 0 24 24" class="icon">
            <path
                    clip-rule="evenodd"
                    d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm4.28 10.28a.75.75 0 000-1.06l-3-3a.75.75 0 10-1.06 1.06l1.72 1.72H8.25a.75.75 0 000 1.5h5.69l-1.72 1.72a.75.75 0 101.06 1.06l3-3z"
                    fill-rule="evenodd"
            ></path>
        </svg>
    </button>
    <div th:if="${message}">
    <p th:text="${message}"></p>
        <audio controls>
            <source th:src="@{'audio?audioFilePath='+ ${audioFilePath.replace('\\', '/')}}" type="audio/mpeg">
            Your browser does not support the audio tag.
        </audio>
    </div>
</form>
</body>
</html>